html {
  box-sizing: border-box;
  font-size: 100%;
  height: 100%;
}

*, *:before, *:after {
  box-sizing: inherit;   
}

body {
  background: rgba(247, 252, 248, 1);
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100vw;
  font-family: 'Sora',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root, .App {
  height: 100%;
}

:root {
  --bg:  white;
  --bg-accent: #484a4d;
  --text-color: #dadce1;
  --nav-size: 60px;
  --border: 1px solid #474a4d;
  --border-radius: 3px;
  --box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.1);
  --box-shadow-lite: 0px 0px 0px 1px rgba(0, 0, 0, 0.1);
  --box-shadow-strong: 0px 0px 5px 2px rgba(0, 0, 0, 0.15);
  --speed: 500ms;
  --bar-width: 35px;
  --bar-height: 2px;
  --bar-spacing: 10px;
  --primary: rgba(116, 205, 151, 1);
  --primary-light: rgba(116, 205, 151, 0.2);
  --primary-superlight: rgba(247, 252, 248, 1);
  --primary-dark: rgba(89, 172, 122, 1);
  --secondary: rgba(235, 235, 235, 1);
  --secondary-dark: rgba(204, 204, 204, 1);
  --red-dark: rgba(253, 86, 74, 1);
  --red-light: rgba(255, 152, 152, 1);
}

.bold {
  font-weight: 600!important;
}

.wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
  height: 100%;
  width: 100vw;
  overflow-y: scroll;
}

.container {
  position: relative;
  height: 100%;
  width: 100%;
  margin-top: 5rem;
  overflow-y: scroll;
}

.page-wrapper {
  display: flex; 
  justify-content: center;
  width: 100%;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  /* color: var(--text-color); */
  text-decoration: none;;
}

@media only screen and (min-width: 768px) {
  a:hover {
    opacity: 70%;
  }
}

input, select, textarea, button{
  font-family: inherit;
}

.flex-center-row {
  display: flex;
  justify-content: center;
}

button {
  border: none;
}

@media only screen and (min-width: 768px) {
  button:hover {
    filter: brightness(0.95);
    transition: all 0.2s ease;
  }
}

button:focus {
  outline: none;
  transition: background var(--speed)
}

.p-1 {
  padding: 0 1rem;
}

.skeleton {
  opacity: .7;
  animation: skeleton-loading 1s linear infinite alternate;
}

.skeleton-img {
  width: 160px;
  height: 160px;
  border-radius: var(--border-radius);
}

.listing-skeleton {
  width: 90%;
  height: 21.5rem;
  padding: 1rem 1rem;
  border-radius: var(--border-radius);
  background: white;
  display: grid;
  place-content: center;
  grid-template-rows: 12.5rem 2.5rem 2rem 4.5rem;
  grid-template-columns: repeat(4, 1fr);
}

.listing-skeleton-text {
  grid-column: 1 / -1;
  grid-row: 2 / -1;
  text-overflow: ellipsis;
  overflow: hidden;
}

.skeleton-text {
  width: 100%;
  height: .5rem;
  margin-bottom: 1rem;
  border-radius: var(--border-radius);
}

.skeleton-text:last-child {
  margin-bottom: 0;
  width: 80%;
}

@keyframes skeleton-loading {
  0% {
    background-color: hsl(200, 20%, 70%);
  }

  100% {
    background-color: hsl(200, 20%, 95%);
  }
}

.fade-in {
  animation: fadeIn 0.5s;
  -webkit-animation: fadeIn 0.5s;
  -moz-animation: fadeIn 0.5s;
  -o-animation: fadeIn 0.5s;
  -ms-animation: fadeIn 0.5s;
}
@keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-moz-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-webkit-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-o-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-ms-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

.slide-in-left {
  animation: slide-in-left 0.2s ease;
  -webkit-animation: slide-in-left 0.2s ease;
  -moz-animation: slide-in-left 0.2s ease;
  -o-animation: slide-in-left 0.2s ease;
  -ms-animation: slide-in-left 0.2s ease;
}

@keyframes slide-in-left {
  from {
    display: none;
    opacity: 0;
    transform: translate(25px, 0);
  }
  to {
    display: flex;
    opacity: 1;
    transform: translate(0, 0);
  }
}

@-moz-keyframes slide-in-left {
  from {
    display: none;
    opacity: 0;
    transform: translate(25px, 0);
  }
  to {
    display: flex;
    opacity: 1;
    transform: translate(0, 0);
  }
}

@-webkit-keyframes slide-in-left {
  from {
    display: none;
    opacity: 0;
    transform: translate(25px, 0);
  }
  to {
    display: flex;
    opacity: 1;
    transform: translate(0, 0);
  }
}

@-o-keyframes slide-in-left {
  from {
    display: none;
    opacity: 0;
    transform: translate(25px, 0);
  }
  to {
    display: flex;
    opacity: 1;
    transform: translate(0, 0);
  }
}

@-ms-keyframes slide-in-left {
  from {
    display: none;
    opacity: 0;
    transform: translate(25px, 0);
  }
  to {
    display: flex;
    opacity: 1;
    transform: translate(0, 0);
  }
}

.slide-out-right {
  animation: slide-out-right 0.2s ease;
  -webkit-animation: slide-out-right 0.2s ease;
  -moz-animation: slide-out-right 0.2s ease;
  -o-animation: slide-out-right 0.2s ease;
  -ms-animation: slide-out-right 0.2s ease;
}

@keyframes slide-out-right {
  from {
    display: flex;
    opacity: 1;
    transform: translate(0, 0);
  }
  to {
    display: none;
    opacity: 0;
    transform: translate(25px, 0);
  }
}

@-moz-keyframes slide-out-right {
  from {
    display: flex;
    opacity: 1;
    transform: translate(0, 0);
  }
  to {
    display: none;
    opacity: 0;
    transform: translate(25px, 0);
  }
}

@-webkit-keyframes slide-out-right {
  from {
    display: flex;
    opacity: 1;
    transform: translate(0, 0);
  }
  to {
    display: none;
    opacity: 0;
    transform: translate(25px, 0);
  }
}

@-o-keyframes slide-out-right {
  from {
    display: flex;
    opacity: 1;
    transform: translate(0, 0);
  }
  to {
    display: none;
    opacity: 0;
    transform: translate(25px, 0);
  }
}

@-ms-keyframes slide-out-right {
  from {
    display: flex;
    opacity: 1;
    transform: translate(0, 0);
  }
  to {
    display: none;
    opacity: 0;
    transform: translate(25px, 0);
  }
}

.button-primary {
  background: var(--primary);
  padding: 0.75rem 0.75rem;
  margin: 1rem 0;
  height: 2.5rem;
  border-radius: var(--border-radius);
  border: none;
  font-family: 'Sora';
  font-size: 0.9rem;
  font-weight: 400;
  color: white;
}

.button-primary:active {
  background: var(--primary-dark);
}

.button-primary-null {
  background: var(--secondary);
  padding: 0.75rem 0.75rem;
  margin: 1rem 0;
  height: 2.5rem;
  width: 77.41px;
  border-radius: var(--border-radius);
  border: none;
  font-family: 'Sora';
  font-size: 0.9rem;
  font-weight: 400;
  color: var(--secondary-dark);
}

.button-secondary {
  background: var(--secondary);
  padding: 0.75rem 0.75rem;
  margin: 1rem 0;
  height: 2.5rem;
  border-radius: var(--border-radius);
  border: none;
  font-family: 'Sora';
  font-size: 0.9rem;
  font-weight: 400;
}

.button-secondary:active {
  background: var(--secondary-dark);
}

.display-none {
  display: none;
}

/* <nav> */
.nav-container {
  height: 5rem;
  width: 100vw;
  position: fixed;
  display: flex;
  justify-content: center;
  position: fixed;
  background: var(--primary-superlight);
  box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(204, 204, 204, 1);
  z-index: 3;
}

.nav {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 0.5rem 1rem 0.5rem 1rem;
  font-family: 'Sora';
  width: 100%;
  z-index: 3;
}

.nav-left {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}


.nav-right-desktop {
  display: none;
}

@media only screen and (min-width: 768px) {
  .nav-right-desktop {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
}

.nav-right button {
  font-family: 'Sora';
}

.mobile-menu-button {
  z-index: 3;
  cursor: pointer;
}

.mobile-menu-backdrop {
  position: absolute;
  z-index: 5;
  opacity: 0;
  height: 100vh;
  width: 100%;
  top: 5rem;
  right: 1rem;
}

.mobile-menu {
  z-index: 6;
  position: absolute;
  padding: 1rem;
  top: 5rem;
  right: 0;
  height: calc(100vh - 5rem);
  width: 80%;
  background: white;
  box-shadow: var(--box-shadow-strong);
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  font-family: 'Poppins';
}

@media only screen and (min-width: 768px) {
  .mobile-menu-button {
    display: none;
  }
  .mobile-menu {
    display: none;
  }
}

.mobile-menu-top {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.mobile-menu-liked {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.span-mobile-menu {
  background: var(--secondary-dark);
  width: 100%;
  height: 1px;
}

.listings-nav-btn-mobile {
  height: 4rem;
  width: 100%;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  background: none;
  padding: 0.5rem 0.5rem;
  font-size: 1.2rem;
  font-weight: 500;
  color:black;
}

.listings-nav-btn-mobile:hover {
  opacity: 50%;
  background: rgba(238, 242, 243, 1);
}

.listings-nav-btn {
  background: none;
  border: none;
  border-radius: var(--border-radius);
  padding: 0.5rem 0.5rem;
  width: 6rem;
  font-size: 0.9rem;
  font-weight: 500;
  color:black;
}

.listings-nav-btn:active {
  color: var(--primary-dark)
}

.sell-nav-btn-mobile {
  height: 4rem;
  width: 100%;
  background: none;
  padding: 0.5rem 0.5rem;
  font-size: 1.2rem;
  font-weight: 500;
  color:var(--primary);
}

.sell-nav-btn {
  background: none;
  border: none;
  border-radius: var(--border-radius);
  padding: 0.5rem 0.5rem;
  width: 6rem;
  font-size: 0.9rem;
  font-weight: 500;
  color: var(--primary);
}

.login-btn {
  background: var(--secondary);
  padding: 0.75rem 0.75rem;
  height: 2.5rem;
  font-size: 0.9rem;
  font-weight: 500;
  border-radius: var(--border-radius);
}

@media only screen and (max-width: 768px) {
  .login-btn {
    width: 100%;
    height: 4rem;
    font-size: 1.2rem;
    padding: 0.5rem;
    background: none;
  }
  .logout-btn {
    height: 100% !important;
    width: 50% !important;
    margin: 0 !important;
    border-top-left-radius: 0 !important;
    border-top-right-radius: var(--border-radius) !important;
    border-bottom-left-radius: 0 !important;
    border-bottom-right-radius: var(--border-radius) !important;
    background: var(--secondary);
    color: black;
    padding: 0.25rem 0.5rem;
    font-size: 0.9rem !important;
    font-weight: 500;
  }
}

@media only screen and (min-width: 768px) {
  .login-btn {
    margin-left: 0.5rem;
  }
}

.logout-btn {
  height: 2rem;
  width: 6rem;
  margin: 0.5rem 0;
  border-radius: var(--border-radius);
  background: var(--secondary);
  color: black;
  padding: 0.25rem 0.5rem;
  font-size: 0.8rem;
  font-weight: 500;
}

.logout-btn:hover {
  opacity: 50%;
  transition: opacity var(--speed);
  color: black;
}

.logout-btn:active {
  background: var(--secondary-dark);
  border: solid 0.05rem var(--secondary-dark);
  opacity: 100%;
}

iframe {
  z-index: 0 !important;
}

.profile-menu {
  position: absolute;
  z-index: 101;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  top: calc(5rem - 1px);
  right: 0;
  height: calc(100vh - (5rem - 1px));
  width: 300px;
  background: var(--primary-superlight);
  border-left: 1px solid rgba(204, 204, 204, 1);
  border-top: 5px solid var(--primary);
  padding: 1rem;
  font-family: 'Poppins';
  overflow: hidden;
  opacity: 0;
  transform: translateX(100%);
  transition: all 0.1s ease-out;
}

.open {
  opacity: 1;
  transform: translateX(0);
  box-shadow: -10px 5px 10px 0px rgba(0, 0, 0, 0.1);
}

.profile-menu h5 {
  font-weight: 400;
  margin: 0.5rem 0;
}

.profile-menu-close {
  display: flex;
  justify-content: flex-start;
  height: 1.5rem;
  width: fit-content;
}

.profile-menu-close-btn {
  transform: scale(1.5);
  transition: filter 0.2s ease;
}

.profile-menu-close-btn:hover {
  filter: opacity(0.7)
}

.profile-menu-user-top {
  text-align: center;
}

.profile-menu-user-bottom {
  display: flex;
  justify-content: space-evenly;
  gap: 1rem;
}

.mobile-menu-profile-link{
  width: 50%;
}

.profile-btn-mobile {
    height: 100%;
    width: 100%;
    background: var(--primary);
    border-top-left-radius: var(--border-radius);
    border-bottom-left-radius: var(--border-radius);
    font-size: 0.9rem;
    color: white;
    font-weight: 500;
}



.profile-btn {
  height: 2rem;
  width: 6rem;
  margin: 0.5rem 0;
  border-radius: var(--border-radius);
  background: var(--primary);
  color: white;
  padding: 0.25rem 0.5rem;
  font-size: 0.8rem;
  font-weight: 500;
}

.profile-btn:hover {
  opacity: 50%;
  transition: opacity var(--speed);
}

.profile-menu-watchlist {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.watchlist-h {
  text-align: center;
}

.watchlist-h h2{
  margin-top: 1rem !important;
  margin-bottom: 0.5rem !important;
}

.watchlist-items {
  display: flex;
  flex-direction: column;
}

.watchlist-items a:hover {
  opacity: 1 !important;
}

.watchlist-listing {
  margin: 0.5rem 0;
  border-radius: var(--border-radius);
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  background: white;
  box-shadow: var(--box-shadow);
}

.watchlist-listing-initial {
  height: 64px;
  width: 15rem;
  display: flex;
  align-items: center;
}

.watchlist-listing-img {
  height: 4rem;
  width: 4rem;
}

.watchlist-listing-img img {
  height: 4rem;
  width: 4rem;
  border-radius: var(--border-radius);
}

.watchlist-listing-info {
  height: 100%;
  width: 100%;
  margin-left: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.watchlist-title {
  margin: 0;
}

.watchlist-price {
  margin: 0;
  color: var(--primary);
}

.watchlist-listing-buttons {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.watchlist-listing-buttons a {
  display: flex;
  justify-content: center;
  align-items: center;
}

.watchlist-listing-buttons img {
  transition: filter 0.2s ease;
  height: 1.25rem;
  width: 100%;
}

.watchlist-listing-buttons img:hover {
  filter: brightness(0.75);
}

.watchlist-listing-bottom {
  display: flex;
  justify-content: center;
  align-items: center;
  background: none;
  border-radius: var(--border-radius);
  margin-top: 1rem;
}

.watchlist-listing-bottom-text-h h5{
  font-weight: 500 !important;
  margin-top: none;
}

.watchlist-listing-bottom-buttons {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

.watchlist-listing-bottom-buttons-remove {
  background: var(--red-dark);
  width: 4.25rem;
  padding: 0.25rem 0.5rem;
  text-align: center;
  color: white;
  border-radius: var(--border-radius);
}

.watchlist-listing-bottom-buttons-cancel {
  background: var(--secondary-dark);
  width: 4.25rem;
  padding: 0.25rem 0.5rem;
  color: black;
  border-radius: var(--border-radius);
}

/* .profile-item {
  height: 50px;
  display: flex;
  align-items: center;
  border-radius: var(--border-radius);
  transition: background var(--speed);
  padding: 0.5rem;
} */

.logo {
  width: 55px;
  height: 55px;
  margin-right: 1rem;
}

.logo:hover {
  transform: rotate(15deg);
  transition: 0.5s;
}

.logo:active {
  transform: rotate(-15deg);
  transition: 0.5s;
}

.mobile-menu-profile {
  width: 100%;
  height: 5rem;
  padding: 2rem 0rem;
  display: flex;
  justify-content: center;
}

.mobile-menu-profile-left {
    display: grid;
    place-content: center;
    margin-right: 1rem;
}

.mobile-menu-profile-right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  height: 100%;
}

.mobile-menu-profile-right h4 {
  margin: 0;
}
.mobile-menu-profile-right h5{
  font-weight: 400;
  margin: 0;
}

.profile-mobile {
  width: 55px;
  height: 55px;
  border-radius: 50%;
  transition: opacity var(--speed);
}

.profile {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  margin-left: 1rem;
  transition: opacity var(--speed);
}

.profile:hover {
  opacity: 50%;
}

.mobile-menu-bottom-logout {
  width: 100%;
  height: 2.5rem;
  display: flex;
  justify-content: space-around;
  margin-bottom: 12.5px;
}

.loading {
  display: flex;
  justify-content: center;
}

.hero {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  height: 100%;
  gap: 3rem;
  padding: 0 1rem;
  max-width: 1080px;
}

.hero-left {
  grid-column: 1 / 2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  place-self: center;
}

@media only screen and (min-width: 768px) {
  .hero-left {
    position: relative;
    top: -10%;
  }
}

.hero-left h1 {
  margin: 0;
  font-size: 2rem;
}

.highlight {
  color: var(--primary);
}

.hero-bottom {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  padding-bottom: 0.5rem;
  text-align: center;
}

.hero-bottom h2{
  color: black;
  font-style: italic;
  margin-bottom: 0.5rem;
}

.hero-bottom-img {
  width: 50%
}

@media only screen and (max-width: 767px) {
  .hero {
    display: block;
    margin-top: 2rem;
  }
  .hero-right {
    display: none;
  }
}

@media only screen and (min-width: 768px) {
  .hero-mobile {
    display: none;
  }
}

.hero-mobile {
  position: relative;
  margin: 1rem 0;
}

.hero-right {
  position: relative;
  top: -10%;
  grid-column: 2 / 3;
  position: relative;
  place-self: center;
}

.hero-img {
  width: 100%;
  max-width: 779px;
  height: auto;
}

.home-bottom {
  display: flex; 
  place-content: center;
}

.login-div {
  width: 100%;
  margin-top: 4rem;
  display: flex;
  flex-direction: column;
  background: rgb(227, 245, 234);
  border: 3px solid rgba(165, 233, 192, 1);
  border-radius: var(--border-radius);
  box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.1);
}
.login-form-title h1,h3{
  margin: 0.5rem 0;
}
.login-form {
  margin: 0 auto;
}
.login-form h5 {
  margin: 1rem 0 0.25rem 0;
  font-weight: 500;
}
.login-form input{
  border: none;
  border-radius: var(--border-radius);
  height: 2rem;
  width: 100%;
  padding: 0.5rem;
}
.login-form button{
  width: 100%;
  border: none;
  border-radius: var(--border-radius);
  margin: 0 0 0.5rem 0 !important;
  padding: 0.5rem 0;
  font-size: 14px;
  font-weight: 600;
  box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.1);
}
.login-bottom h5{
  margin: 0.5rem 0;
}
.login-bottom a {
  color: var(--primary);
  font-size: 16px;
  font-weight: 600;
}

@media only screen and (max-width: 767px) {
  .login-div {
    align-items: center;
    margin: 2rem 1rem;
    padding: 1rem 1.5rem;
  }
  .login-bg {
    display: flex;
    justify-content: center;
  }
  .login-svg {
    height: auto;
    width: 90%;
    margin: 0 auto;
  }
  .login-form-div {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 1rem;
  }
  .login-bottom {
    margin-top: 1rem;
  }
}

@media only screen and (min-width: 768px) {
  .login-div {
    height: 35rem;
    width: 45rem;
    flex-direction: row !important;
  }
  .login-bg {
    background:rgba(165, 233, 192, 1);
    height: 100%;
    width: 45%;
    display: flex;
    justify-content: flex-start;
  }
  .login-svg {
    height: auto;
    width: 120%;
    padding-left: 1rem;
  }
  .login-form-div {
    width: 55%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 5rem 0 5.5rem;
  }
  .login-bottom {
    margin-top: 0.5rem;
  }
}

.login-form input {
  box-shadow: 0px 5px 20px 0px rgba(0, 0, 0, 0.1);;
}

.login-form input:focus {
  outline: solid 0.125rem var(--primary-light);
}

.invalid {
  color: red;
  font-size: 10px;
}

.clip-loader {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: auto;
  width: 100%;
  height: 2.5rem;
}

.listings-grid {
  display: grid; 
  padding: 0 0 2rem 0;
  margin: 4rem 0;
  grid-template-columns: repeat(auto-fit, 325px);
  grid-auto-rows: 21.5rem;
  grid-row-gap: 3rem;
  grid-column-gap: 3rem;
  place-content: center;
  place-items: center;
}

@media only screen and (min-width: 768px) {
  .listings-grid {
    grid-template-columns: repeat(2, 325px) !important;
  }
}

@media only screen and (min-width: 1080px) {
  .listings-grid {
    grid-template-columns: repeat(3, 325px) !important;
  }
}

.listing {
  width: 90%;
  height: 21.5rem;
  padding: 1rem 1rem;
  background: white;
  border-radius: var(--border-radius);
  box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.1);
  display: grid;
  place-content: center;
  grid-template-rows: 12.5rem 2.5rem 2rem 4.5rem;
  grid-template-columns: repeat(4, 1fr);
}

.listing-img-div {
  grid-column: 2 / 4;
  grid-row: 1 / 2;
  place-self: center;
}

.listing-img-div img {
  height: 160px;
  width: 160px;
  border-radius: var(--border-radius);
  object-fit: cover;
}

.listing-actions {
  grid-column: 1 / 3;
  grid-row: 4 / -1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.listing-actions button {
  background: none;
  border: none;
  width: 1.5rem;
  height: 1.5rem;
}

.listing-actions img {
  width: 1.5rem;
  height: 1.5rem;
  transition: transform 250ms;
}

.listing-actions img:hover{
  transform: translateY(2px)
}

.listing-actions h5 {
  font-weight: 500;
  margin: 0;
  padding-top: 0.5rem;
}

.listing-title {
  grid-column: 1 / -1;
  grid-row: 2 / 3;
  text-overflow: ellipsis;
  overflow: hidden;
}

.listing-title h3 {
  margin: 0 auto;
}

.listing-price {
  color: var(--primary);
  grid-column: 1 / 3;
  grid-row: 3 / 4;
  justify-self: start;
  align-self: center;
}

.listing-price h3 {
  font-weight: 700;
}

.listing-like {
  grid-column: 1 / 3;
  grid-row: 4 / 5;
  justify-self: start;
  align-self: center;
}

.listing-btn {
  grid-column: 3 / -1;
  grid-row: 4 / -1;
  justify-self: end;
  align-self: center;
}

.form-grid {
  padding: 0 0 2rem 0;
  margin-top: 4rem;
  display: flex;
  justify-content: center;
  width: 100%;
}

.form {
  display: flex;
  flex-direction: column;
  padding: 1rem 1.5rem;
  margin: 0 1rem;
  background: white;
  border-radius: var(--border-radius);
  font: 'Sora';
  box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.1);
  width: 100%;
}

.form-bg {
  display: none;
}
.form-top {
  padding: 0.5rem 0 1rem 1rem;
}
.form-svg-top {
  height: auto;
  width: 5rem;
}
.form button {
  margin: 1rem 0 0 0 !important;
  width: 100%;
}

@media only screen and (min-width: 768px) {
  .form {
    height: auto;
    width: 45rem;
    flex-direction: row !important;
  }
  .form-form {
    margin: 1rem 0 1rem 1rem;
  }
  .form-top {
    display: none;
  }
  .form-bg {
    display: block;
    width: 35%;
  }
  .form-svg{
    height: auto;
    width: 10rem;
    margin: 3rem 0 0 3rem;
  }
}

.form h2 {
  font-weight: 500;
  padding-right: 0.5rem;
  margin: 0;
}

.form h1 {
  margin-top: 0;
}

.form h4 {
  font-size: 0.75rem;
  font-weight: 500;
  margin: 1rem 0 0.5rem 0 !important;
}

.form input {
  padding: 0.5rem 0.5rem;
  border: solid 0.1rem rgba(204, 204, 204, 1);
  border-radius: var(--border-radius);
  font-size: 1rem;
  width: 100%;
  box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.1);
}

.form-price-input {
  width: 5rem !important;
  font-weight: 600 !important;
}

.form-desc-textarea {
  padding: 0.5rem;
  width: 100%;
  height: 6rem;
  border: solid 0.1rem rgba(204, 204, 204, 1);
  border-radius: var(--border-radius);
  box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.1);
}

.form input:focus, textarea:focus, select:focus {
  outline: solid 0.125rem rgba(116, 205, 151, 1);
  border: solid 0.1rem white;
}

.form-input {
  display: flex;
  align-items: center;
}

input[type=file]::file-selector-button {
  border: none;
  padding: .4em .4em;
  margin-right: 1rem;
  border-radius: .2em;
  background: rgba(0, 0, 0, 0.1);
  transition: 0.5s;
}

@media only screen and (min-width: 768px) {
  input[type=file]::file-selector-button:hover {
    opacity: 50%;
  }
}

.form-files {
  width: 100%;
  padding: 0.5rem;
  overflow: scroll;
  display: flex;
  border: 0.1rem solid rgba(196, 196, 196, 1);
  border-radius: var(--border-radius);
}

.files-img {
  height: 7rem;
  width: 7rem;
  border-radius: var(--border-radius);
  margin: 0 1rem 0 1rem;
}

.input[type="file" i] {
  border: none !important;
}

.file-input input{
  border: none;
  width: 100%;
}

.error-div {
  height: 0.5rem;
  width: auto
}

.error {
  color: red;
  font-size: 10px;
  margin: 0.35rem 0 0 0 !important;
}

.listing-info {
  position: static;
  height: fit-content;
  width: 100%;
  padding: 1rem 2rem;
  margin: 2rem 0;
  background: white;
  border-radius: var(--border-radius);
  font: 'Sora';
  box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.1);
}

@media only screen and (min-width: 768px) {
  .listing-info {
    width: 45rem;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(2, 6.5rem) 5rem auto 5rem 5rem auto;
  }
  .listing-info-edit-menu {
    grid-column: 9 / -1;
    grid-row: 1 / 3;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
  }
  .listing-info-img {
    grid-column: 5 / 9;
    grid-row: 1 / 3;
    justify-self: center;
    align-self: center;
  }
  .listing-info-title {
    grid-column: 2 / 7;
    grid-row: 3 / 4;
    align-self: center;
  }
  
  .listing-info-desc {
    grid-column: 2 / 7;
    grid-row: 4 / 5;
    display: grid;
    align-content: start;
  }
  .listing-info-desc p {
    padding: 0;
    margin-top: 0;
    
  }
  .listing-info-bottom {
    grid-column: 2 / 7;
    grid-row: 5 / 6;
  }
  .listing-info-price {
    grid-column: 2 / 5;
    grid-row: 5 / 6;
    justify-self: start;
    align-self: start;
  }
  .listing-info-creator {
    grid-column: 4 / 7;
    grid-row: 5 / -1;
    align-self: start;
    display: grid;
    grid-template: auto / auto;
  }
  
  .listing-info-creator-img {
    grid-column: 1 / 2;
    grid-row: 1 / -1;
    justify-self: end;
    padding-top: 1rem;
  }
  .listing-info-creator-name {
    grid-column: 2 / -1;
    grid-row: 1 / -1;
    justify-self: center;
    align-self: center;
    /* padding-top: 1rem; */
    text-align: center;

  }
  .listing-info-paypal {
    grid-column: 8 / 12;
    grid-row: 4 / 6;
    margin-top: 0 !important;
  } 
  .listing-info-like {
    grid-column: 2 / 4;
    grid-row: 6 / 7;
    height: 100%;
  }
  .comments-section {
    grid-column: 1 / -1;
    grid-row: 7 / 8;
    margin: 0 auto;
    width: 70%;
  }

}

@media only screen and (max-width: 768px) {
  .listing-info {
    margin: 2rem 1rem !important;
  }
  .listing-info-edit-menu {
    position: relative;
    display: flex;
    justify-content: flex-end;
  }
  .button-menu {
    position: relative;
    left: 1rem;
  }
  .edit-menu-backdrop {
    position: fixed !important;
    display: flex;
    align-items: flex-end;
    z-index: 501;
    background: rgba(0, 0, 0, 0.1) !important;
    height: 100vh;
    width: 100vw;
    transition: all 0.2s ease;
  }
  .edit-menu-backdrop-show {
    z-index: 501 !important;
    pointer-events: all !important;
    visibility: visible !important;
    opacity: 1 !important;
  }
  .edit-menu {
    display: none !important;
  }
  .edit-menu-mobile {
    z-index: 502;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background: var(--bg);
    height: 18rem;
    width: 100vw;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    pointer-events: none;
    visibility: hidden;
    opacity: 0;
    transform: translateY(50%);
    transition: all 0.5s ease;
  }
  .edit-menu-mobile-open {
    pointer-events: all;
    visibility: visible;
    opacity: 1;
    transform: translateY(0);
  }
}

.button-menu {
  border: none;
  border-radius: 50%;
  background: none;
  padding: 0;
  height: 2rem;
  width: 2rem;
}

.button-menu-active {
  background: var(--primary-light);
}

.button-menu img {
  height: 2rem;
  width: 2rem;
  padding: 0.5rem 0;
  border-radius: 50%;
}

@media only screen and (min-width: 768px) {
  .button-menu:hover {
    opacity: 50%;
  }
  .button-menu-delete:hover {
    opacity: 50%;
    background: rgba(238, 242, 243, 1);
  }
  .edit-menu-mobile, .edit-menu-mobile-open {
    display: none !important;
  }
}

.edit-menu-backdrop {
  position: absolute;
  z-index: 1;
  background: none;
  height: 100%;
  width: 100vw;
  pointer-events: none;
  visibility: hidden;
  opacity: 0;
}

.edit-menu-backdrop-show {
  pointer-events: all !important;
  visibility: visible !important;
  opacity: 1 !important;
}

.edit-menu {
  padding: 0;
  margin-top: 0.5rem;
  margin-right: 1rem;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100px;
  width: 150px;
  background: var(--bg);
  border-radius: var(--border-radius);
  overflow: hidden;
  pointer-events: none;
  visibility: hidden;
  opacity: 0;
  transform-origin: top right;
  transform: translateY(-10px) scale(0);
  transition: all 0.2s ease;
}

.edit-menu-open {
  pointer-events: all;
  visibility: visible;
  opacity: 1;
  transform: translateY(0) scale(1);
  box-shadow: var(--box-shadow-strong);
}

.edit-menu h5 {
  margin: 1rem 0;
}

.button-menu-edit {
  height: 4rem;
  width: 100%; 
  border: none;
  background: none;
  font-size: 1rem;
}

.button-menu-edit:hover {
  opacity: 50%;
  background: rgba(238, 242, 243, 1);
}

.button-menu-delete {
  height: 4rem;
  width: 100%; 
  border: none;
  background: none;
  font-size: 1rem;
  color: red;
}

.button-menu-delete:hover {
  opacity: 50%;
  background: rgba(255, 152, 152, 1);
}

.button-menu-close-mobile-container {
  height: 4rem;
  display: grid;
  place-items: center;
}

.button-menu-close-mobile {
  height: 2rem;
  width: fit-content;
  padding: 0 1rem; 
  border: none;
  border-radius: var(--border-radius);
  background: var(--secondary);
  font-size: 1rem;

}

.button-menu-close-mobile h5 {
  margin: 0 !important;
}

.listing-info-img {
  position: relative;
}

.listing-info-img img {
  display: block;
  height: 200px;
  width: 200px;
  border-radius: var(--border-radius);
  object-fit: cover;
  margin: 0 auto;
}

.listing-info-desc p {
  color: rgba(119, 119, 119, 1);
  font-size: 0.9rem;
  font-weight: 400;
  margin-inline: 0.8rem;
}

.listing-info-bottom {
  display: flex;
  justify-content: space-between;
}

.listing-info-price {
  display: flex;
  align-items: flex-end;
}

.listing-info-price h1 {
  color:rgba(116, 205, 151, 1);
}

.listing-info-creator {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}



.listing-info-creator-img img {
  height: 55px;
  width: 55px;
  border-radius: 50%;
  margin-right: 0.5rem;
}



.listing-info-creator-name h5 {
  font-size: 1rem;
  font-weight: 600;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  align-self: center;
}

.listing-info-creator-name h4 {
  font-size: 0.8rem;
  font-weight: 600;
  margin: 0;
  color:  var(--primary-superlight);
  background:rgba(116, 205, 151, 1);
  border-radius: var(--border-radius);
  padding: 0.1rem 0.5rem;
}

.listing-info-paypal {
  margin-top: 0.7rem;
}

.listing-info-like {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 0 auto;
}

.listing-info-like-button {
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 2.5rem;
  width: 6rem;
  padding-left: 0;
  padding-right: 10px;
  margin: 0 auto;
  box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.1);
  border: solid 0.1rem var(--secondary-dark);
  border-radius: var(--border-radius);
}

.listing-info-like-button:hover {
  filter: none !important;
}

.liked {
  background: white;
  border: 2px var(--primary);
  transition: all 0.2s ease;
}

.listing-info-like-text {
  display: flex;
  justify-content: center;
  align-items: center;
}

.listing-info-like h5 {
  font-weight: 500;
}

.comment {
  display: flex;
  place-content: center;
}

.comments-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.comments-show {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.comment-comment {
  width: 100%;
  padding: 0.75rem;
  margin: 1rem 0;
  background: var(--secondary);
  border-radius: var(--border-radius);
}

.comment-top-delete {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 0.5rem;
}

.comment-delete-button {
  transition: filter 0.2s ease;
}

.comment-delete-button:hover {
  filter: brightness(0.75);
}

.comment-comment p {
  padding: 0;
  margin: 0;
  font-size: 14px;
  font-weight: 300;
}

.comment-comment h6 {
  margin: 0;
  font-weight: 600;
}

.comment-comment-img {
  height: 2rem;
  width: 2rem;
  border-radius: 50%;
  margin-right: 0.5rem;
}

.comment-body {
  margin-bottom: 1rem;
}

.comment-bottom {
  display: flex;
  justify-content: space-between;
}

.comment-user {
  display: flex;
  align-items: center;
}

.comment-name {
  display: flex;
  flex-direction: column;
}

.comment-name h4 {
  text-align: center;
  font-size: 0.6rem;
  font-weight: 500;
  margin: 0;
  margin-top: 0.2rem;
  color:  var(--primary-superlight);
  background:rgba(116, 205, 151, 1);
  border-radius: var(--border-radius);
}

.comment-date {
  display: flex;
  align-items: flex-end;
}

.comments-input {
  display: flex;
  flex-direction: column;
  place-content: center;
  width: 100%;
  margin-top: 1rem;
}

.input-box {
  height: 5rem;
  width: 100%;
  padding: 0.5rem;
  border: solid 0.1rem rgba(204, 204, 204, 1);
  border-radius: var(--border-radius);
  box-shadow: 0px 4px 30px 0px rgb(0 0 0 / 10%);
}

.delete-modal-backdrop {
  z-index: 500;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 100vh;
  display: grid;
  place-items: center;
}

.delete-modal-overlay {
  z-index: 4;
  height: 10rem;
  width: 20rem;
  padding: 1rem;
  background: var(--primary-superlight);
  box-shadow: 0px 4px 250px 500px rgba(0, 0, 0, 0.2);
  border-radius: var(--border-radius);
  display: flex; 
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.delete-modal-overlay-bottom {
  display: flex; 
  justify-content: space-evenly;
}

.delete-modal-overlay-bottom button{
  width: 5rem;
}

.delete-modal-yes {
  background:rgba(255, 152, 152, 1);
  padding: 0.75rem 0.75rem;
  margin: 1rem 0;
  border-radius: var(--border-radius);
  border: none;
  font-family: 'Sora';
  font-size: 0.9rem;
  font-weight: 400;
}

.delete-modal-yes:active {
  background:rgb(247, 90, 90)
}

.profile-info-container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.profile-info {
  margin: 2rem 1rem;
  padding: 2rem 2rem;
  background: var(--secondary);
  border-radius: var(--border-radius);
  font: 'Sora';
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 820px;
}

.profile-info-img {
  display: flex;
  justify-content: center;
}

.profile-info-img img {
  height: 100px;
  width: 100px;
  border-radius: 50%;
}

.profile-info-name {
  display: flex;
  justify-content: center;
}

@media only screen and (max-width: 767px) {
  .profile-info-listings-cards {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .profile-info-listings-cards > .listing{
    margin: 1rem 0;
    width: 100% !important;
  }
}

@media only screen and (min-width: 768px) {
  .profile-info-listings-cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, 300px);
    grid-row-gap: 3rem;
    grid-column-gap: 3rem;
    place-content: center;
    place-items: center;
  }

  .profile-info-listings-cards > .listing{
    height: 375px;
    width: 300px;
    background: white;
  }
}